.campo-texto{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06);
    padding: 12px;
    font-size: 1rem;
}